@import "../default.scss";

.nav-bar {
    background: $color-secondary;
    width: 100%;
    padding: steps(2);
    border-bottom: 1px solid $color-black;
    ul {
        list-style: none;
        display: flex;
        column-gap: setps(4);
    }
    li {
        padding-left: steps(2);
    }
    a {
        color: $button-primary;
        text-decoration: none;
    }

    .active {
        color: darken($color-white, 50%);
    }
}